/* Pesquiasr! */

html {
    font-size: 65.2%;
}

body {
    font-size: 1rem;
}

#cabecalho {
    background-color: #0000ff8f;
}

.link {
    display: inline;
    margin: 0 5% 1%;
    border: 2px solid green;
}