*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#rodape{
    background-color: #1E2836;
    max-height: 30%;
    padding: 20px 20px 5px 20px;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap; 
    margin-bottom: 0px;

}

.navegacao{
    justify-content: space-between;
    display: flex;
    padding: 0px;
    margin-left: 40px;
    margin-right: 40px;
    
}

.github{ 
    border: 2px solid #FFFFFF;
    border-radius: 5px; 
    padding-top: 3px;
}

.google{
    border: 2px solid #FFFFFF;
    border-radius: 5px; 
    padding-top: 3px;
}

.twitter{
    border: 2px solid #FFFFFF;
    border-radius: 5px; 
    padding-top: 3px;
}

.img-github{
    width: 15%;
    margin-left: 5px;
    margin-right: 5px;
}

.img-google{
    width: 15%;
    margin-left: 5px;
    margin-right: 5px;
    
}

.img-twitter{
    width: 15%;
    background-color: #FFFFFF; 
    border-radius: 5%; 
    padding: 2%; 
    margin-left: 5px;
    margin-right: 5px;
}

.a{
    color: #FFFFFF;
    text-align: center;
    font-size: medium;
    font-family: Tahoma, Verdana, sans-serif;
    text-decoration:none;
}

.copyright{
    color: #FFFFFF;
    text-align: center;
    margin-top: 0.8%;
    font-size: medium;
    font-family: Tahoma, Verdana, sans-serif;
    
}